/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#btn {
  background-color:red;
  border-radius: 4px;
}

h1 {
  color: violet;
}

body {
  background-image:url("https://media1.giphy.com/media/2A75RyXVzzSI2bx4Gj/200w.webp?cid=ecf05e47s14948mugemubvkm4harnjhi2vdswnj2f2vy7fix&ep=v1_gifs_search&rid=200w.webp&ct=g");
  text-align: center;
  background-size: cover;
}
